

/*Custom CSS for CT Smart Project
* Author: Tunde Ojediran
*/



/*Main content*/

.inner-bg {
    padding: 100px 0 170px 0;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(250,158,26, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    padding-top: 25px;
    width: 75%;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(250,158,26, 0.3);
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}


input[type="text"], input[type="password"], textarea, textarea.form-control {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fa9e1a;
    border-radius: 4px;
    box-shadow: none;
    color: #888;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

#ct-logo {
    height: 50px;
    margin: 20px;
}





/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

.footerDown{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.centered{
    width: 80%;
    margin: auto;
    text-align: center;
}
.export ul{
    display: inline;
}
.export ul li{
    text-decoration: none;
}
